<h1>Movielist</h1>

<h3>Add movies to the list</h3>

<ul>
	{{#each burgers}}
	{{#if devoured}}
	<li>

		<p>{{burger_name}}</p>
		<p>{{devoured}}</p>
	</li>

	{{/if}}
	{{/each}}
</ul>
<ul>
	{{#each burgers}}
	{{#unless devoured}}
	<li>

		<form
			method="post"
			action="/api/burgers/{{id}}?_method=PUT"
		>
			<input
				type="hidden"
				name="_method"
				value="PUT"
			>
			<textarea
				type="text"
				name="movie"
			>{{burger_name}}</textarea>
			<p>{{devoured}}</p>

			<button type="submit">Eat</button>

		</form>
	</li>

	{{/unless}}
	{{/each}}
</ul>

<form
	action="/api/burgers"
	method="POST"
>
	<textarea
		type="text"
		name="burger"
	></textarea>

	<button type="submit">Submit</button>
</form>